@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Julius+Sans+One&display=swap');

:root {
  font-family: 'Archivo', sans-serif;
  --primary-values: 38, 67, 135;
  /* für die Verwendung mit rgba*/
  --primary: #264387;
  --primary-hover: #3057B0;
  --rounded-sm: 0.25rem;
  ;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Julius Sans One', sans-serif;
}

p,
span,
div {
  font-family: 'Archivo', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
